/* client/src/index.css */
/* 先用簡單版樣式，不用 Tailwind */

* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #ffeec9;
  font-family: "Noto Sans TC", -apple-system, BlinkMacSystemFont, sans-serif;
}
